.tableRow{
    /* cursor: pointer; */
    text-decoration: none;
    background-color: #ffffff,
                   
}
.tableRow:hover{
    background-color: #5f8ea5;
}
.pageCenter{
    text-align: center;
}

.loading{
    background-color: #F2FC2B;
}
.tableheadStyle{
    background-color: #a9835a;
}
/* .tablecellStyle{
    color: rgb(255, 0, 0);
    font-weight: 700px;
} */
.pagination{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.textSpan{
            text-transform:uppercase;
                font-size:22px;
                color: white;
}
.rowFlex{
    display: flex;
    flex-direction: column;
}