
.bgHomepage {
  background-image: url(./../../assets/bgHomepage.jpg);
  width: 100;  
  background-size: cover;
}
.banner{
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 35;
  justify-content: center;

}
.textBanner{
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}

