.App {
  background-image: linear-gradient(to bottom right, #7e9ba9, #bfd7e3);  
  color: white;
  min-height: 100vh;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

